data/application_train.csv
data/bureau.csv
data/previous_application.csv
data/df_test_enrichi.csv
data/df_train_enrichi.csv
data/app_train_final.parquet
data/app_train_clean.parquet
data/*.csv.gz
data/*.parquet

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

venv/
.venv/
env/
.env/
.python-version

.env
.env.local
.env.*.local
*.env

mlruns/
mlflow.db
mlartifacts/

logs/
*.log
*.jsonl

.ipynb_checkpoints/
*.ipynb

.dockerignore


.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/
coverage.xml

*.pkl
*.joblib
*.h5
*.onnx

!mlflow_model/